body, html {
  width: 100%;
  height: auto; 
  background-color: black;
  color: white; 
  overflow: auto;
  font-family: omnes-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

img {
  padding-top: 5px;
  padding-bottom: 5px; 
}

.welcome-container {
  background-color: white; 
  color: black;
  border-radius: 8px;
  margin-top: 30px; 
  padding-left: 30px;
  padding-right: 30px; 
  padding-bottom: 30px;
}

button {
  width: 100%;
  border-radius: 8px;
  background-color: #008e97;
  border-color: #008e97;
  color: white;
  padding: 15px; 
  margin-top: 5px;
}

label {
  color: white; 
}
